doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Customer - Edit
  body
    form(action='/customer/edit', method='POST')
      label(for='username') username
      input(type='text', name='username' value=user.username)
      br
      label(for='password') password
      input(type='password', name='password')
      br
      label(for='name') name
      input(type='text', name='name' value=user.name.firstName+" "+user.name.lastName)
      br
      label(for='email') email
      input(type='email', name='email' value=user.email)
      br
      label(for='birthDate') birthDate
      input(type='date', name='birthDate' value=Date(user.birthDate))
      br
      label(for='address') address
      input(type='text', name='address' value=user.address)
      br
      label(for='zipcode') zipcode
      input(type='number', name='zipcode' value=user.zipcode)
      br
      label(for='balance') balance
      input(type='number', name='balance' value=user.balance)
      br
      label(for='gender') gender
      select(name='gender')
        option(value='M') M
        option(value='F') F
        option(value='U') U
      br
      label(for='citizenId') citizenId
      input(type='number', name='citizenId' value=user.citizenId)
      br
      label(for='phone') phone
      input(type='number', name='phone' value=user.phone)
      br
      button(type='submit') create
